#footers {
  background: none !important;
  border-top: 2px solid #525F5B !important;
  padding: 3em 3em 0 !important;
  overflow: hidden;
}

#footers .row,
#mega-footer,
#mega-footer .container {
  width: unset !important;
  margin: 0 !important;
  padding: 0 !important;
}

.sl-footer .textwidget {
  margin-top: 0 !important;
}

.sl-footer ul {
  padding: 0 !important;
  margin: 0 !important;
}

.sl-footer li {
  list-style: none !important;
  padding: 0 0 0.25em;
  margin: 0 !important;
}

.sl-footer a,
.sl-footer p {
  color: #363A39 !important;
}

.sl-footer img {
  max-width: 12em !Important;
}
