/* Hi-TECH EQUIPMENT PAGE */

.navbar-default .navbar-nav>.active>[href*="tech"] {
  background: #e14433;
  border-color: #e14433;
}

#pg-3550-0 {
  padding-top: 2em;
}

.hi-tech-title-display {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-around;
}

.hi-tech-title-item {
  min-width: 12em;
  margin: 0.5em;
  flex: 0.2;
}

.hi-tech-information {
  height: 5.25em;
}

.hi-tech-information h1 {
  font-size: 1.25em !important;
  margin: 0 0 0.15em;
  color: #363A39;
  font-weight: 700;
}

.hi-tech-information p {
  font-size: 0.8em !important;
}

.hi-tech-button {
  height: 2.5em;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

.hi-tech-contact-link {
  text-decoration: none !important;
  font-weight: 700;
  color: #363A39;
}

.hi-tech-equipment-link p {
  margin-top: 0.75em;
  margin-bottom: 1em;
  font-size: 0.8em;
  text-align: center;
}

.hi-tech-equipment-link .arrow {
  margin: 0;
  font-size: 2em;
  text-decoration: none;
}

.hi-tech-equip-flex-item {
  flex: 1;
  min-width: 17em;
  max-width: 25em;
}

.hi-tech-equipment-display {
  display: flex;
  flex-flow: row wrap;
}

.hi-tech-equipment-name {
  margin-top: 2em;
  font-size: 2.3em;
  font-weight: 600;
}

.equip-container {
  background-color: #e6efed;
  margin: 1em 0.75em 3em;
}

.equip-icon,
.equip-container img {
  mix-blend-mode: multiply;
  width: 45%;
  height: 45%;
  display: block;
  margin: auto;
}

.equip-content {
  margin-top: -1.5em;
  position: relative;
  max-width: 25em;
}

.equip-header {
  text-transform: uppercase;
  font-size: 1em !important;
  line-height: 1.25;
  padding: 0.15em;
  font-weight: 700;
  margin-bottom: 0;
}

.equip-name h3 {
  color: #363a39;
  margin: 0.3em 0 0;
  font-size: 1.563em;
}

.equip-content hr {
  width: 4em;
  border: 1px solid #525f5b;
  margin-top: 1em;
  margin-bottom: 0.9em;
}

.equip-desc {
  color: #525f5b;
  margin: 0;
}

.yellow {
  color: #f5e333 !important;
}

.red {
  color: #e14433 !important;
}

.blue {
  color: #3392ef !important;
}

.purple {
  color: #9893cd !important;
}

.green {
  color: #40cd3a !important;
}

.orange {
  color: #f0672b !important;
}
