@import "navbar.css";
@import "research.css";
@import "directions.css";
@import "hi-tech.css";
@import "small-businesses.css";
@import "who.css";
@import "contact.css";
@import "old.css";
@import "home.css";
/* Colors:
Yellow: #F5E333
Purple: #9893CD
Blue: #3392EF
Orange: #F0672B
Red: #E14433
Green: #40CD3A
Black: #363A39 [Body Text, Secondary Titles]
Dark Gray: #525F5B [Main Titles/Links/Secondary Text]
Gray: #E2E2E2
Light Gray: #E6EFED [Page Backgrounds]
Lightest Gray: #F2F9F7 */

/* Reused CSS Goes Here */

html,
body {
  background-color: #e6efed !important;
}

/* #page-blank .container {
  width: unset!important;
} */

#masthead {
  background: #e6efed;
}

.uc-site-title {
  color: #000;
}

.site-content#content .container {
  width: unset !important;
}

.col-sm-12 {
  padding: 0;
}

.sl-section {
  min-height: 80vh;
  font-size: 16px;
  padding: 4.768em 8vw !important;
}

.sl-header,
.sl-header-sub {
  text-transform: uppercase;
  font-family: "Proxima Nova";
  font-weight: 700;
  text-align: left;
}

.sl-header {
  color: #525f5b !important;
  /*font-family:ProximaNova-SemiBold;*/
  font-size: 4.768em !important;
  margin-bottom: 0;
}

.sl-header-caption {
  color: #525f5b;
  font-size: 1.953em;
  font-weight: 600;
  text-align: left;
  margin-bottom: 1em;
}

.sl-header-sub {
  color: #363a39;
  font-size: 1em;
  margin: 0;
  line-height: 1.953 !important;
}

.sl-header-sub a {
  text-decoration: none !important;
  color: inherit !important;
}

.sl-body {
  color: #363a39;
  font-family: proxima_nova_light;
  font-size: 1em;
  font-weight: 400;
  text-align: left;
  margin: 1.25em 0;
}

/* div.panel-row-style {
  padding: 5em 0 !important
} */
