/* NAVBAR */

#masthead.site-header,
#masthead.site-header #nav-wrapper.navbar-fixed-top {
  background: #e6efed;
}

#masthead.site-header #site-title .col-sm-8 #uc-site-header #uc-site-title a,
nav.navbar-default .navbar-nav > li > a {
  color: #525f5b;
}

.navbar-default .navbar-nav > .active > a {
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

#masthead.site-header #nav-wrapper.navbar-fixed-top {
  box-shadow: none;
}

/* #masthead.site-header #nav-wrapper.navbar-fixed-top #dropdown {
  margin: 0 0 0 auto;
}

#masthead.site-header #nav-wrapper #dropdown #menu-top-nav:before {
  content: "IPB at the UConn TechPark";
  opacity: 0;
  transition: opacity 0.15s ease;
}

#masthead.site-header #nav-wrapper.navbar-fixed-top #dropdown #menu-top-nav {
  float: right;
}

#masthead.site-header #nav-wrapper.navbar-fixed-top #dropdown #menu-top-nav:before {
  opacity: 1;
} */
