/* NAVBAR */#masthead.site-header,
#masthead.site-header #nav-wrapper.navbar-fixed-top {
  background: #e6efed;
}#masthead.site-header #site-title .col-sm-8 #uc-site-header #uc-site-title a,
nav.navbar-default .navbar-nav > li > a {
  color: #525f5b;
}.navbar-default .navbar-nav > .active > a {
  border-bottom-width: 2px;
  border-bottom-style: solid;
}#masthead.site-header #nav-wrapper.navbar-fixed-top {
  box-shadow: none;
}/* RESEARCH PARTNERS PAGE */.navbar-default .navbar-nav>.active>[href*="partners"] {
  background: #e14433;
  border-color: #e14433;
}/* Layover Image */.overlayImage {
  position: relative;
  width: 20%;
  height: 200px;
  display: inline-block;
}.pictureDisplay {
  display: block;
  width: 20%;
  height: 200px;
}.textDisplay {
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: sans-serif;
}.overlayFade {
  height: 100%;
  width: 20%;
  top: 0;
  left: 0;
  background-color: #ff946bbd;
}.overlay {
  position: absolute;
  opacity: 0;
  transition: all 0.3s ease;
  background-color: #008cba;
}.overlayImager:hover .overlay,
.overlayImage:hover .overlayFade {
  opacity: 1;
}.overlay h1 {
  font-size: 1.5em;
  font-weight: 800;
}/* Collapsible */input[type="checkbox"] {
  position: absolute;
  top: -9999px;
  left: 
  -9999px;
}.displayText {
  opacity: 0;
  background: green;
  width: 400px;
  height: 100px;
  line-height: 100px;
  color: #fff;
  text-align: center;
}input[type="checkbox"]:checked~.displayText {
  background: red;
  opacity: 1;
}#content #page-page .widget.widget_siteorigin-panels-postloop .content-template-date {
  display: block;
  font-size: 13px;
}.flex-container-column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 2em;
}.item-flex:nth-child(2) {
  margin-top: 3em;
}.item-flex:nth-child(3) {
  margin-top: 1em;
}.item-flex:nth-child(4) {
  margin-top: 2em;
}.item-flex {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
}.each-box {
  color: #525f5b;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  height: 250px;
  padding: 1em;
  margin: 5px;
}/* Colors Classes */.each-box-yellow {
  background-color: #f5e333;
}.each-box-red {
  background-color: #e14433;
}.each-box-blue {
  background-color: #3392ef;
}.each-box-purple {
  background-color: #9893cd;
}.each-box-green {
  background-color: #40cd3a;
}.each-box-orange {
  background-color: #f0672b;
}/* Partner Display */.partner-flex-display {
  display: flex;
  flex-direction: column;
}.partner-row-display {
  display: flex;
  flex-direction: row;
  justify-content: center;
}.parter-single-display {
  height: auto;
  flex-basis: 33%;
}#pl-3296 {
  background-color: #e6efed !important;
}/* DIRECTIONS PAGE */.navbar-default .navbar-nav > .active > [href*="directions"] {
  background: #525f5b;
  border-color: #525f5b;
}/* Hi-TECH EQUIPMENT PAGE */.navbar-default .navbar-nav > .active > [href*="tech"] {
  background: #e14433;
  border-color: #e14433;
}/* SMALL BUSINESSES PAGE */.navbar-default .navbar-nav > .active > [href*="small"] {
  background: #3392ef;
  border-color: #3392ef;
}/* WHO WE ARE PAGE */.navbar-default .navbar-nav > .active > [href*="who"] {
  background: #9893cd;
  border-color: #9893cd;
}/* CONTACT PAGE */.navbar-default .navbar-nav > .active > [href*="contact"] {
  background: #40cd3a;
  border-color: #40cd3a;
}#footers .simple-social-icons ul li a,
#footers.simple-social-icons ul li a:hover,
#footers .simple-social-icons ul li a:focus {
  background: transparent!important;
}#mega-footer .widget.simple-social-icons ul {
  margin: 0;
}#mega-footer .widget h2.widget-title {
  font-family: 'proxima nova';
}.icon-grid img {
  width: auto!important;
}.glyphicon-new-window {
  display: none;
}.entry-content .panel-layout .panel-grid:nth-child(1) .siteorigin-panels-stretch .widget_widget_sp_image .widget_sp_image-description {
  display: none;
}#masthead #nav-wrapper .navbar-collapse .nav .dropdown-menu a {
  white-space: pre-line;
}.people-row {
  border-bottom: 1px solid #ddd;
  padding-bottom: 25px;
  margin-bottom: 10px;
}@media (max-width:767px) {
  .people-row {
    border-bottom: 0;
  }
}.people-row h3 {
  margin-top: 0;
  color: #649e9e;
}.entry-content .panel-layout .panel-grid:nth-child(1) .siteorigin-panels-stretch .widget_widget_sp_image {
  max-height: 800px;
  overflow: hidden!important;
}#masthead #nav-wrapper .navbar-collapse .nav > li.active::after,
#masthead #nav-wrapper .navbar-collapse .nav > li.current-menu-ancestor::after {
  display: none;
}.blue-grid-boxes .accordion .panel-heading .panel-title a {
  background-color: transparent;
  color: #fff!important;
  padding: 20px 20px 18px;
}.blue-grid-boxes .accordion .panel {
  background-color: transparent;
  font-size: 14px!important;
  color: #fff!important;
  line-height: 1.5em;
}.blue-grid-boxes .accordion .panel h6 {
  font-size: 14px!important;
  color: #fff!important;
  line-height: 1.5em;
}.blue-grid-boxes .accordion .panel h6 span {
  color: #fff!important;
}.blue-grid-boxes .accordion .panel-body {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0;
}.blue-grid-boxes .accordion .panel-heading .panel-title a:hover {
  background: transparent!important;
  color: #3AC6F7!important;
}.page-id-1462 .textwidget a {
  color: #00b4fc!important;
}p {
  line-height: 140%!important;
}h4 {
  font-size: 22px!important;
}h1 {
  font-size: 40px!important;
}/* ==== WebDev says - be careful with your CSS and using !important. The above code for p, h4, and h1 needs to be more specific because it can break more things than it fixes. */#uc-header h1 {
  font-size: 12px!important;
}.textwidget iframe {
  min-height: 0;
}.widget_metaslider_widget {
  overflow: hidden;
}#content .panel-grid .widget.widget_metaslider_widget ul li {
  margin-bottom: 10px;
}.icon-grid.flex-images img {
  /* Change the width percentage to adjust the size of the blue icons on home page */
  width: 50%!important;
}.single-post .entry-content ul li {
  margin-left: 25px;
  list-style-type: disc;
}.single-post .entry-content ul li::before {
  content: '';
  border: none;
  padding: 0;
  margin: 0;
}#primary #main .yearly-archive .post {
  width: 33%;
  float: left;
  padding: 1%;
}@media (max-width:767px) {
  #primary #main .yearly-archive .post {
    width: 100%;
    float: none;
    padding: auto;
  }
}#primary #main .yearly-archive .post:nth-of-type(3n) {
  clear: right;
}#primary #main .yearly-archive .post:nth-of-type(3n+1) {
  clear: left;
}#content .yearly-archive .widget.widget_siteorigin-panels-postloop h2.entry-title {
  line-height: 0;
}#content .yearly-archive .widget.widget_siteorigin-panels-postloop h2.entry-title a {
  font-size: 22px;
  line-height: 1.4em;
  font-weight: 700;
}#content .yearly-archive .widget.widget_siteorigin-panels-postloop h2.entry-title a:hover {
  text-decoration: underline;
}/* HOME PAGE */.navbar-default .navbar-nav>.active>[href="https://techpark.uconn.edu"] {
  background: #f5e333;
  border-color: #f5e333;
}@media (min-width: 768px) {
  #masthead.site-header #nav-wrapper .navbar-collapse .nav>li:first-child>a[href="https://techpark.uconn.edu"] {
    padding-left: 25px;
    margin-left: -25px;
  }
}.title-paragraph {
  position: absolute;
  top: 5%;
  margin-left: 7em;
  max-width: 550px;
}.title-paragraph .description {
  margin-top: 13em;
}.title-paragraph .description a {
  color: white;
}.title-paragraph .description a:hover {
  color: rgb(199, 199, 199);
}/* .equip-row-cell {

} */.equip-header {
  font-size: 16px;
  color: #363a39;
  padding: 0.1em;
  margin: 0;
}.equip-container {
  display: flex;
  justify-content: right;
  height: 300px;
  position: relative;
}.equip-icon {
  width: 20%;
  height: 30%;
  position: absolute;
  left: -1em;
  top: -1em;
}.equip-content {
  width: calc(100% - 2em);
  height: calc(100% - 2em);
  align-self: flex-end;
  position: absolute;
}.equip-desc {
  color: #525f5b;
  margin: 0;
}.equip-name {
  color: #363a39;
  margin: 0;
}.equip-content hr {
  width: 4em;
  color: #525f5b;
  border: 2px solid #525f5b;
  margin-top: 14px;
  margin-bottom: 14px;
}@media (max-width: 961px) {
  .equip-container {
    width: 135%;
  }
}.research-centers-container {
  display: flex;
  position: relative;
  height: 500px;
}.research-centers-column {
  display: flex;
  position: absolute;
  height: 100%;
}.research-centers-card {
  padding: 1em;
  width: 50%;
  position: absolute;
  height: calc(100% - 2em);
}.research-centers-column:nth-last-child() {
  margin-top: 2em;
}/* Colors:
Yellow: #F5E333
Purple: #9893CD
Blue: #3392EF
Orange: #F0672B
Red: #E14433
Green: #40CD3A
Black: #363A39 [Body Text, Secondary Titles]
Dark Gray: #525F5B [Main Titles/Links/Secondary Text]
Gray: #E2E2E2
Light Gray: #E6EFED [Page Backgrounds]
Lightest Gray: #F2F9F7 *//* Reused CSS Goes Here */html,
body {
  background-color: #e6efed !important;
}#masthead {
  background: #e6efed;
}.uc-site-title {
  color: #000;
}.sl-header {
  color: #525f5b !important;
  font-family: proxima_nova_light;
  /*font-family:ProximaNova-SemiBold;*/
  font-size: 76px !important;
  font-weight: 600;
  text-align: left;
  margin-bottom: 0;
}.sl-header-caption {
  color: #525f5b;
  font-size: 31px;
  font-weight: 600;
  height: 37px;
  text-align: left;
  width: 550px;
}.sl-header-sub {
  color: #363a39;
  font-family: proxima_nova_light;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  margin-top: 0;
}.sl-header-sub a {
  text-decoration: none;
}
