/* NAVBAR */#masthead.site-header,
#masthead.site-header #nav-wrapper.navbar-fixed-top {
  background: #e6efed;
}#masthead.site-header #site-title .col-sm-8 #uc-site-header #uc-site-title a,
nav.navbar-default .navbar-nav > li > a {
  color: #525f5b;
}.navbar-default .navbar-nav > .active > a {
  border-bottom-width: 2px;
  border-bottom-style: solid;
}#masthead.site-header #nav-wrapper.navbar-fixed-top {
  box-shadow: none;
}/* #masthead.site-header #nav-wrapper.navbar-fixed-top #dropdown {
  margin: 0 0 0 auto;
}

#masthead.site-header #nav-wrapper #dropdown #menu-top-nav:before {
  content: "IPB at the UConn TechPark";
  opacity: 0;
  transition: opacity 0.15s ease;
}

#masthead.site-header #nav-wrapper.navbar-fixed-top #dropdown #menu-top-nav {
  float: right;
}

#masthead.site-header #nav-wrapper.navbar-fixed-top #dropdown #menu-top-nav:before {
  opacity: 1;
} *//* RESEARCH PARTNERS PAGE */.navbar-default .navbar-nav > .active > [href*="partners"] {
  background: #e14433;
  border-color: #e14433;
}#content
  #page-page
  .widget.widget_siteorigin-panels-postloop
  .content-template-date {
  display: block;
  font-size: 13px;
}.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}.center-box {
  flex: 1;
  flex-basis: calc(50% - 0.5em);
  max-width: calc(50% - 0.5em);
  min-height: calc(375em / 16);
  display: flex;
  flex-direction: column;
  padding: 1em;
  position: relative;
}@media (max-width: 768px) {
  .center-box {
    margin: 0 0 1em !important;
    flex-basis: 100%;
    max-width: unset;
    height: calc((300em / 16) - 0.25vw);
  }
}@media (max-width: 1079px) {
  .center-box:nth-child(2n + 1) {
    margin-right: 0.5em;
    margin-top: -2em;
  }

  .center-box:nth-child(2n) {
    margin-left: 0.5em;
    margin-top: 1em;
  }

  .center-box:nth-child(2) {
    margin-top: 3em;
  }
}@media (min-width: 1080px) {
  .center-box:nth-child(3n + 1) {
    margin-right: 0.5em;
    margin-top: -2em;
    flex-basis: calc(33% - 0.5em);
    max-width: calc(33% - 0.5em);
  }

  .center-box:nth-child(3n + 2) {
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 1em;
    flex-basis: calc(33% - 1em);
    max-width: calc(33% - 1em);
  }

  .center-box:nth-child(3n) {
    margin-left: 0.5em;
    margin-top: -1em;
    flex-basis: calc(33% - 0.5em);
    max-width: calc(33% - 0.5em);
  }

  .center-box:nth-child(2) {
    margin-top: 3em;
  }

  .center-box:nth-child(3) {
    margin-top: 1em;
  }
}.center-box:nth-child(1) {
  margin-top: 0;
}@media (min-width: 1200px) {
  .center-box {
    min-height: calc(375em / 16);
  }
}@media (min-width: 1440px) {
  .center-box {
    min-height: calc(300em / 16);
  }
}.research-center > * {
  transition: all 0.2s ease;
}.center-name {
  color: #525f5b;
  font-size: 1.953em !important;
  font-family: "Proxima Nova";
  font-weight: 700;
  margin-top: 0;
  text-align: left;
  opacity: 1;
  transition-delay: 0.1s;
}.center-info {
  opacity: 0;
  height: 90%;
  position: absolute;
  width: 86%;
  top: 10%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}.center-box:hover .center-name {
  opacity: 0;
  transition-delay: 0s;
}.center-box:hover .center-info {
  opacity: 1;
  top: 5%;
  transition-delay: 0.1s;
}.center-data {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}.center-info p {
  font-size: 0.95em;
  font-family: "proxima_nova_light";
  margin-top: 0;
}.center-box h2 {
  font-weight: 700;
  font-family: "Proxima Nova";
}.center-box .center-data p,
.center-box .center-data h2 {
  font-size: 0.8em;
  margin-bottom: 0;
}.center-box a {
  color: inherit;
}/* Colors Classes */.center-box-yellow {
  background-color: #f5e333;
}.center-box-red {
  background-color: #e14433;
}.center-box-blue {
  background-color: #3392ef;
}.center-box-purple {
  background-color: #9893cd;
}.center-box-green {
  background-color: #40cd3a;
}.center-box-orange {
  background-color: #f0672b;
}/* Partner Display */.partner-flex-display {
  display: flex;
  flex-flow: row wrap;
}.partner-flex-display img {
  max-height: 12em;
  width: auto;
}#pl-3296 {
  background-color: #e6efed !important;
}.navbar-default .navbar-nav > .active > [href*="directions"] {
  background: #525f5b;
  border-color: #525f5b;
}#collapsible-information {
  color: #363A39;
  line-height: 2em;
}#collapsible-information section .collapsed-information-display {
  display: none;
  text-align: left;
  font-size: 1em;
}#collapsible-information section .collapsed-information-title {
  border-bottom: 1px solid #363A39;
  font-size: 1.5em;
  font-weight: 800;
}#collapsible-information section a {
  text-align: left;
  color: black;
  text-decoration: none;
}#collapsible-information section:hover .collapsed-information-title {
  border-bottom: 1px solid #3392EF;
  color: #3392EF;
}#collapsible-information section:target .collapsed-information-display {
  display: block;
}#collapsible-information section:target .collapsed-information-title {
  color: #3392EF;
  border-bottom: 1px solid #3392EF;
}.direction-picture {
  width: 100%;
  height: 100%;
}#pg-3525-0 {
  padding-top: 2em;
}#pg-3525-0 p {
  line-height: 2em !important;
}/* Hi-TECH EQUIPMENT PAGE */.navbar-default .navbar-nav>.active>[href*="tech"] {
  background: #e14433;
  border-color: #e14433;
}#pg-3550-0 {
  padding-top: 2em;
}.hi-tech-title-display {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-around;
}.hi-tech-title-item {
  min-width: 12em;
  margin: 0.5em;
  flex: 0.2;
}.hi-tech-information {
  height: 5.25em;
}.hi-tech-information h1 {
  font-size: 1.25em !important;
  margin: 0 0 0.15em;
  color: #363A39;
  font-weight: 700;
}.hi-tech-information p {
  font-size: 0.8em !important;
}.hi-tech-button {
  height: 2.5em;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}.hi-tech-contact-link {
  text-decoration: none !important;
  font-weight: 700;
  color: #363A39;
}.hi-tech-equipment-link p {
  margin-top: 0.75em;
  margin-bottom: 1em;
  font-size: 0.8em;
}.hi-tech-equipment-link .arrow {
  margin: 0;
  font-size: 2em;
  text-decoration: none;
}.hi-tech-equip-flex-item {
  flex: 1;
  min-width: 17em;
  max-width: 25em;
}.hi-tech-equipment-display {
  display: flex;
  flex-flow: row wrap;
}.hi-tech-equipment-name {
  margin-top: 2em;
  font-size: 2.3em;
  font-weight: 600;
}.equip-container {
  display: flex;
  margin: 1em 0.75em 3em;
}.equip-icon {
  width: 6.5em;
  height: 6.5em;
}.equip-content {
  width: calc(100% - 2em);
  margin-left: -3.25em;
  padding: 2.5em 0 0 0;
  max-width: 25em;
}.equip-header {
  text-transform: uppercase;
  font-size: 1em !important;
  line-height: 1.25;
  padding: 0.15em;
  font-weight: 700;
  margin-bottom: 0;
}.equip-name h3 {
  color: #363a39;
  margin: 0.3em 0 0;
  font-size: 1.563em;
}.equip-content hr {
  width: 4em;
  border: 1px solid #525f5b;
  margin-top: 1em;
  margin-bottom: 0.9em;
}.equip-desc {
  color: #525f5b;
  margin: 0;
}.yellow {
  color: #f5e333 !important;
}.red {
  color: #e14433 !important;
}.blue {
  color: #3392ef !important;
}.purple {
  color: #9893cd !important;
}.green {
  color: #40cd3a !important;
}.orange {
  color: #f0672b !important;
}/* SMALL BUSINESSES PAGE */.navbar-default .navbar-nav>.active>[href*="small"] {
  background: #3392ef;
  border-color: #3392ef;
}/* WHO WE ARE PAGE */.navbar-default .navbar-nav > .active > [href*="who"] {
  background: #9893cd;
  border-color: #9893cd;
}/* CONTACT PAGE */.navbar-default .navbar-nav > .active > [href*="contact"] {
  background: #40cd3a;
  border-color: #40cd3a;
}#footers .simple-social-icons ul li a,
#footers.simple-social-icons ul li a:hover,
#footers .simple-social-icons ul li a:focus {
  background: transparent!important;
}#mega-footer .widget.simple-social-icons ul {
  margin: 0;
}#mega-footer .widget h2.widget-title {
  font-family: 'proxima nova';
}.icon-grid img {
  width: auto!important;
}.glyphicon-new-window {
  display: none;
}.entry-content .panel-layout .panel-grid:nth-child(1) .siteorigin-panels-stretch .widget_widget_sp_image .widget_sp_image-description {
  display: none;
}#masthead #nav-wrapper .navbar-collapse .nav .dropdown-menu a {
  white-space: pre-line;
}.people-row {
  border-bottom: 1px solid #ddd;
  padding-bottom: 25px;
  margin-bottom: 10px;
}@media (max-width:767px) {
  .people-row {
    border-bottom: 0;
  }
}.people-row h3 {
  margin-top: 0;
  color: #649e9e;
}.entry-content .panel-layout .panel-grid:nth-child(1) .siteorigin-panels-stretch .widget_widget_sp_image {
  max-height: 800px;
  overflow: hidden!important;
}#masthead #nav-wrapper .navbar-collapse .nav > li.active::after,
#masthead #nav-wrapper .navbar-collapse .nav > li.current-menu-ancestor::after {
  display: none;
}.blue-grid-boxes .accordion .panel-heading .panel-title a {
  background-color: transparent;
  color: #fff!important;
  padding: 20px 20px 18px;
}.blue-grid-boxes .accordion .panel {
  background-color: transparent;
  font-size: 14px!important;
  color: #fff!important;
  line-height: 1.5em;
}.blue-grid-boxes .accordion .panel h6 {
  font-size: 14px!important;
  color: #fff!important;
  line-height: 1.5em;
}.blue-grid-boxes .accordion .panel h6 span {
  color: #fff!important;
}.blue-grid-boxes .accordion .panel-body {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0;
}.blue-grid-boxes .accordion .panel-heading .panel-title a:hover {
  background: transparent!important;
  color: #3AC6F7!important;
}.page-id-1462 .textwidget a {
  color: #00b4fc!important;
}p {
  line-height: 140%!important;
}h4 {
  font-size: 22px!important;
}h1 {
  font-size: 40px!important;
}/* ==== WebDev says - be careful with your CSS and using !important. The above code for p, h4, and h1 needs to be more specific because it can break more things than it fixes. */#uc-header h1 {
  font-size: 12px!important;
}.textwidget iframe {
  min-height: 0;
}.widget_metaslider_widget {
  overflow: hidden;
}#content .panel-grid .widget.widget_metaslider_widget ul li {
  margin-bottom: 10px;
}.icon-grid.flex-images img {
  /* Change the width percentage to adjust the size of the blue icons on home page */
  width: 50%!important;
}.single-post .entry-content ul li {
  margin-left: 25px;
  list-style-type: disc;
}.single-post .entry-content ul li::before {
  content: '';
  border: none;
  padding: 0;
  margin: 0;
}#primary #main .yearly-archive .post {
  width: 33%;
  float: left;
  padding: 1%;
}@media (max-width:767px) {
  #primary #main .yearly-archive .post {
    width: 100%;
    float: none;
    padding: auto;
  }
}#primary #main .yearly-archive .post:nth-of-type(3n) {
  clear: right;
}#primary #main .yearly-archive .post:nth-of-type(3n+1) {
  clear: left;
}#content .yearly-archive .widget.widget_siteorigin-panels-postloop h2.entry-title {
  line-height: 0;
}#content .yearly-archive .widget.widget_siteorigin-panels-postloop h2.entry-title a {
  font-size: 22px;
  line-height: 1.4em;
  font-weight: 700;
}#content .yearly-archive .widget.widget_siteorigin-panels-postloop h2.entry-title a:hover {
  text-decoration: underline;
}/* HOME PAGE */.navbar-default .navbar-nav>.active>[href="https://techpark.uconn.edu"] {
  background: #f5e333;
  border-color: #f5e333;
}@media (min-width: 768px) {
  #masthead.site-header #nav-wrapper .navbar-collapse .nav>li:first-child>a[href="https://techpark.uconn.edu"] {
    padding-left: 25px;
    margin-left: -25px;
  }
}div.sl-landing {
  padding-top: 0 !important;
  background-image: url("https://techpark.uconn.edu/wp-content/uploads/sites/2213/2018/08/mural.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}.title-paragraph {
  max-width: 35em;
}.title-paragraph .sl-header {
  margin-top: 25vh;
}.title-paragraph .description {
  margin-top: 16vh;
  margin-bottom: 16vh;
}.title-paragraph .description a {
  color: white;
}.title-paragraph .description a:hover {
  color: rgb(199, 199, 199);
}.research-centers-container {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}.partner-logo {
  flex: none;
  width: 33%;
  padding: 2em;
}.pad-me {
  padding: 5em;
}.sl-news-img img {
  width: 100%;
}.sl-featured-post header {
  margin-left: -1em;
  width: calc(100vw - 1em);
  height: 60vh;
  padding-bottom: 11em;
  overflow: hidden;
  box-sizing: content-box;
}.sl-featured-post img {
  width: 100%;
  height: auto;
  margin-top: -30vw;
}.sl-featured-post .entry-content {
  margin-left: calc(8vw - 1rem);
  font-size: 1.25em;
  width: 80vw;
}.sl-featured-post h2 {
  margin-left: 8vw;
  max-width: 80vw;
  font-size: calc(1.953em + 3vw) !important;
  line-height: 1 !important;
}@media (max-width: 768px) {
  .sl-featured-post .entry-content,
  .sl-featured-post h2 {
    max-width: unset;
    width: unset;
  }
}.sl-featured-post h2:before {
  content: "LATEST STORY";
  font-size: 2rem;
  height: 3rem;
  display: block;
  margin-bottom: 0.25em;
  margin-left: 0.15em;
}.sl-featured-post h2 a {
  font-size: inherit !important;
}.sl-featured-post h2 a,
.sl-featured-post p {
  color: #525f5b;
}.sl-posts {
  display: flex;
  flex-wrap: wrap;
}.sl-posts>*:first-child {
  display: none;
}.sl-posts>*:nth-child(2) {
  margin-top: 9em;
}.sl-posts>*:nth-child(5),
.sl-posts>*:nth-child(7) {
  margin-top: -10em;
}.sl-posts article {
  display: flex;
  width: calc(50% - 0.8em);
  padding: 0;
  margin: 0.3em;
  flex-direction: column;
}.sl-posts article header {
  width: 100%;
}.sl-posts article header .entry-title {
  width: 50%;
  font-size: 20px;
  display: inline-block;
  margin: 0;
  margin-left: 0.3em;
}.sl-posts article header .entry-title a {
  font-size: 16px;
}.sl-posts article header img {
  width: 40%;
  height: auto;
  display: inline-block;
  vertical-align: top;
}.sl-posts article .entry-content {
  height: 4em;
  overflow: hidden;
  font-size: 0.8em;
  display: inline-block;
  margin-left: calc(40% + 0.8em);
  margin-top: -4em;
  margin-bottom: 1em;
}div.sl-videos iframe {
  min-height: 30px;
}div.sl-outreach-r1 {
  padding-bottom: 0 !important;
}div.sl-outreach-r1 {
  padding-top: 0 !important;
}.sl-outreach-r1 .panel-grid-cell {
  width: 50% !important;
  align-self: center;
}.sl-outreach-r1 .panel-grid-cell div img {
  width: 100%;
  align-self: center;
}.sl-outreach-r2 .panel-grid-cell div img {
  width: 100%;
  align-self: center;
}/* Colors:
Yellow: #F5E333
Purple: #9893CD
Blue: #3392EF
Orange: #F0672B
Red: #E14433
Green: #40CD3A
Black: #363A39 [Body Text, Secondary Titles]
Dark Gray: #525F5B [Main Titles/Links/Secondary Text]
Gray: #E2E2E2
Light Gray: #E6EFED [Page Backgrounds]
Lightest Gray: #F2F9F7 *//* Reused CSS Goes Here */html,
body {
  background-color: #e6efed !important;
}/* #page-blank .container {
  width: unset!important;
} */#masthead {
  background: #e6efed;
}.uc-site-title {
  color: #000;
}.site-content#content .container {
  width: unset !important;
}.col-sm-12 {
  padding: 0;
}.sl-section {
  min-height: 80vh;
  font-size: 16px;
  padding: 4.768em 8vw !important;
}.sl-header,
.sl-header-sub {
  text-transform: uppercase;
  font-family: "Proxima Nova";
  font-weight: 700;
  text-align: left;
}.sl-header {
  color: #525f5b !important;
  /*font-family:ProximaNova-SemiBold;*/
  font-size: 4.768em !important;
  margin-bottom: 0;
}.sl-header-caption {
  color: #525f5b;
  font-size: 1.953em;
  font-weight: 600;
  text-align: left;
  margin-bottom: 1em;
}.sl-header-sub {
  color: #363a39;
  font-size: 1em;
  margin: 0;
  line-height: 1.953 !important;
}.sl-header-sub a {
  text-decoration: none !important;
  color: inherit !important;
}.sl-body {
  color: #363a39;
  font-family: proxima_nova_light;
  font-size: 1em;
  font-weight: 400;
  text-align: left;
  margin: 1.25em 0;
}/* div.panel-row-style {
  padding: 5em 0 !important
} */
