/* RESEARCH PARTNERS PAGE */

.navbar-default .navbar-nav>.active>[href*="partners"] {
  background: #e14433;
  border-color: #e14433;
}

/* Layover Image */

.overlayImage {
  position: relative;
  width: 20%;
  height: 200px;
  display: inline-block;
}

.pictureDisplay {
  display: block;
  width: 20%;
  height: 200px;
}

.textDisplay {
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: sans-serif;
}

.overlayFade {
  height: 100%;
  width: 20%;
  top: 0;
  left: 0;
  background-color: #ff946bbd;
}

.overlay {
  position: absolute;
  opacity: 0;
  transition: all 0.3s ease;
  background-color: #008cba;
}

.overlayImager:hover .overlay,
.overlayImage:hover .overlayFade {
  opacity: 1;
}

.overlay h1 {
  font-size: 1.5em;
  font-weight: 800;
}

/* Collapsible */

.displayText {
  opacity: 0;
  background: green;
  width: 400px;
  height: 100px;
  line-height: 100px;
  color: #fff;
  text-align: center;
}

input[type="checkbox"]:checked~.displayText {
  background: red;
  opacity: 1;
}

#content #page-page .widget.widget_siteorigin-panels-postloop .content-template-date {
  display: block;
  font-size: 13px;
}

.flex-container-column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 2em;
}

.item-flex:nth-child(2) {
  margin-top: 3em;
}

.item-flex:nth-child(3) {
  margin-top: 1em;
}

.item-flex:nth-child(4) {
  margin-top: 2em;
}

.item-flex {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
}

.center-box {
  height: 25%;
  min-height: 275px;
    min-width: 300px;
  padding: 1em;
  margin: 5px;
    position: relative;
}

.research-center > * {
    transition: all 0.2s ease;
}

.center-name {
  color: #525f5b;
  font-size: 1em !important;
  font-family: 'Proxima Nova';
  font-weight: 700;
  margin-top: 0;
  text-align: left;
  opacity: 1;
  transition-delay: 0.1s;
}

.center-info {
    opacity: 0;
    height: 86%;
    position: absolute;
    width: 86%;
    top: 14%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.center-box:hover .center-name {
    opacity: 0;
    transition-delay: 0s;
}

.center-box:hover .center-info {
    opacity: 1;
    top: 7%;
    transition-delay: 0.1s;
}

.center-data {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.center-info p {
    font-size: 0.75em;
    font-family: 'proxima_nova_light';
    margin-top: 0;
}

.center-box h2 {
    font-weight: 700;
    font-family: 'Proxima Nova';
}

.center-box .center-data p,
.center-box .center-data h2 {
    font-size: 0.6em;
    margin-bottom: 0;
}

.center-box a {
    color: inherit;
}

/* Colors Classes */

.center-box-yellow {
  background-color: #f5e333;
}

.center-box-red {
  background-color: #e14433;
}

.center-box-blue {
  background-color: #3392ef;
}

.center-box-purple {
  background-color: #9893cd;
}

.center-box-green {
  background-color: #40cd3a;
}

.center-box-orange {
  background-color: #f0672b;
}

/* Partner Display */

.partner-flex-display {
  display: flex;
  flex-direction: column;
}

.partner-row-display {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.parter-single-display {
  height: auto;
  flex-basis: 33%;
}

#pl-3296 {
  background-color: #e6efed !important;
}
